<body class="body">
    <!-- <h1 class="order">Breakfast</h1> -->
    <h2 class=" ml-8 mt-4 mb-4 ad">BreakFast</a></h2>
    <div class="list">
        <img class="coffee" src="/images/coffee.jpg">
        <ul class="items">
            <li>Coffee 30Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/maggee.jpg">
        <ul class="items">
            <li>Maggee 30Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/burger.jpg">
        <ul class="items">
            <li>Burger 80Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/sandwitch.jpg">
        <ul class="items">
            <li>Sandwitch 80Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/shake.jpg">
        <ul class="items">
            <li>Strawberry shake 50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/break.jpg">
        <ul class="items">
            <li>Dosa  50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <li></li>
    <hr>
    <li></li>
    <div class="list">
        <img class="coffee" src="/images/shake.jpg">
        <ul class="items">
            <li>Strawberry shake 50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/break.jpg">
        <ul class="items">
            <li>Dosa  50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/shake.jpg">
        <ul class="items">
            <li>Strawberry shake 50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/break.jpg">
        <ul class="items">
            <li>Dosa  50Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/coffee.jpg">
        <ul class="items">
            <li>Coffee 30Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>
    <div class="list">
        <img class="coffee" src="/images/maggee.jpg">
        <ul class="items">
            <li>Maggee 30Rs</b></li>
            <li class="add"><a href="#">Add</a></li>
            <li class="add"><a href="#">Sub</a></li>
        </ul>
    </div>