<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Faster+One&family=Merriweather:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <nav>
        <img class="imgage" src="/images/bc.png">
        <ul class="link">
            <li>
                <h1 class="font-bold hea">M<span class="yy">Y</span> M<span class="yy">ENU</span></h1>
            </li>
            <li class="active">
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li><a href="/">About Us</a></li>
            <li><a href="/cart">My Orders</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Login Out</a></li>
        </ul>
    </nav>
</head>
    <%-body %>
    <script scr="/js/app.js"></script>
</body>
</html>
