<body>
<!-- 
    <section class="cart mx-auto text-center">
        <div class="order text-black">
            <ul>
                <li class="font-bold mt-2  text-3xl border-b border-black pd-4 order">Order Summary<span>&#128525</span></li>
            </ul>
        </div>
        <div class="list">
            <img class="coffee" src="/images/coffee.jpg">
            <ul class="items">
                <li>Coffee 30Rs</b></li>
                <li>1ps</li>
            </ul>
        </div>
        <div class="list">
            <img class="coffee" src="/images/maggee.jpg">
            <ul class="items">
                <li>Maggee 30Rs</b></li>
                <li>1ps</li>
            </ul>
        </div>
        <div class="list">
            <img class="coffee" src="/images/coffee.jpg">
            <ul class="items">
                <li>Coffee 30Rs</b></li>
                <li>1ps</li>
            </ul>
        </div>
        <div>
            <span class="text-2xl font-bold text-black-500">Total Amount:</span>
            <span class=" font-bold text-3xl ml-2 order">300Rs</span>
        </div>
        <form action="" class="form ">
            <input class="border border-gray-400 p-2 w-1/4 mb-4 " type="text" placeholder="phone number">
            <input class="border border-gray-400 p-2 w-1/4 mb-4 " type="text" placeholder="Address">
        </form>

        <button class="px-6 py-2 rounded-full font-bold ml-4 btn ordernow ">
            Order Now
        </button>
        </div>
        </div> -->
         
                <div class="text-center">
                    <h1 class="text-3xl mt-12 font-bold  text-green-500  order">Your cart is empty...<span>☹️</span> <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
                    <br>
                    <p class="text-black-500 text-3xl  ">You probabely haven't ordered anything yet.<br>
                        To order food <i class="fa fa-cart-plus" aria-hidden="true"></i> , go to menu page.
                    </p>
                    <a href="/" class="inline-block px-6 py-2 rounded-full text-black font-bold ml-15 btn mt-12 ordernow">Go back</a>
                </div>
    </section>