<body>
<h1 class="order text-center mb-6 mt-6">Login </h1>
<form action="" class="form ">
        Username: <input class="border border-gray-400 p-2 w-1/4 mb-4 form" type="text" placeholder="Username">
        </form>
<form action="" class="form">
    Password : <input class="border border-gray-400 p-2 w-1/4 mb-4 form" type="text" placeholder="Password">
</form>
