<bode>
    <h1 class="order text-center mb-6 mt-6">New User </h1>
    <form action="" class="form ">
        Username : <input class="border border-gray-400 p-2 w-1/4 mb-4 form" type="text" placeholder="Username">
    </form>
    <form action="" class="form">
        Contact No: <input class="border border-gray-400 p-2 w-1/4 mb-4 form" type="text" placeholder="Contact Number">
    </form>

    <form action="" class="form">
        Password : <input class="border border-gray-400 p-2 w-1/4 mb-4 ml-4 form" type="text" placeholder="Password">
    </form>
    <form action="" class="form">
        Address : <input class="border border-gray-400 p-2 w-1/4 mb-4 ml-6 form" type="text" placeholder="Adress">
    </form>